/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* @import '@sgwshub/neat-theme/Natty.css'; */

@font-face {
  font-family: "Scto Grotesk A";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://db.onlinewebfonts.com/t/c1dadd1119436dde0f9ab3c947d1e62f.woff2)
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Thin.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Thin%20Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Light.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Light%20Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Regular%20Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Medium.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Medium%20Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Bold.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Bold%20Italic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Black.woff2")
    format("woff2");
}

@font-face {
  font-family: "Scto Grotesk A";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("https://fonts.southernglazers.com/Scto%20Grotesk%20A%20Black%20Italic.woff2")
    format("woff2");
}

/* === BEGIN GENERATED — managed by tokens:generate; do not edit === */

/* Theme: Southern Glazers Dark */

.dark:root,
.on-bold,
[data-theme="southern-glazers-dark"] {
  --borderRadius-button-default: 9999px;
  --borderRadius-button-secondary: 0.5rem;
  --borderRadius-full: 9999px;
  --borderRadius-input-default: 0.5rem;
  --borderRadius-lg: 1rem;
  --borderRadius-md: 0.75rem;
  --borderRadius-none: 0rem;
  --borderRadius-search-default: 0.5rem;
  --borderRadius-sm: 0.5rem;
  --borderRadius-xl: 1.5rem;
  --borderRadius-xs: 0.25rem;
  --borderWidth-2xl: 0.625rem;
  --borderWidth-input-default: 0.0625rem;
  --borderWidth-input-selected: 0.0625rem;
  --borderWidth-lg: 0.1875rem;
  --borderWidth-md: 0.125rem;
  --borderWidth-none: 0rem;
  --borderWidth-sm: 0.0625rem;
  --borderWidth-xl: 0.375rem;
  --colors-background-badge-brand: #765f26;
  --colors-background-badge-default: #6d6965;
  --colors-background-badge-success: #0b7737;
  --colors-background-badge-warning: #dc6803;
  --colors-background-brandPrimary: #765f26;
  --colors-background-brandSecondary: #670004;
  --colors-background-cautionRemove: #1e1700;
  --colors-background-errorRemove: #762824;
  --colors-background-infoRemove: #055568;
  --colors-background-input-brand: #d8c186;
  --colors-background-input-brandDisabled: #6d6965;
  --colors-background-input-input: #323231;
  --colors-background-input-inputActive: #323231;
  --colors-background-input-inputDisabled: #2a2a29;
  --colors-background-input-inputError: #eea2a7;
  --colors-background-input-inputPressed: #323231;
  --colors-background-interactive-accent-disabled: #03323d;
  --colors-background-interactive-accent-primary: #9bc3ce;
  --colors-background-interactive-accent-primaryHover: #9bc3ce;
  --colors-background-interactive-accent-primarySelected: #7ab1bf;
  --colors-background-interactive-accent-secondary: #055164;
  --colors-background-interactive-accent-secondaryHover: #0d6d87;
  --colors-background-interactive-accent-secondarySelected: #03323d;
  --colors-background-interactive-errorRemove: #eea2a7;
  --colors-background-interactive-negative-disabled: #4d1310;
  --colors-background-interactive-negative-primary: #eea2a7;
  --colors-background-interactive-negative-primaryHover: #f4bec3;
  --colors-background-interactive-negative-primarySelected: #f4bec3;
  --colors-background-interactive-negative-secondary: #9d3a37;
  --colors-background-interactive-negative-secondaryHover: #762824;
  --colors-background-interactive-negative-secondarySelected: #762824;
  --colors-background-interactive-neutral-disabled: #696969;
  --colors-background-interactive-neutral-primary: #dfdfdf;
  --colors-background-interactive-neutral-primaryHover: #ffffff;
  --colors-background-interactive-neutral-primarySelected: #c8c8ca;
  --colors-background-interactive-neutral-secondary: #4e4e4e;
  --colors-background-interactive-neutral-secondaryHover: #4e4e4e;
  --colors-background-interactive-neutral-secondarySelected: #000000;
  --colors-background-interactive-positive-disabled: #07411e;
  --colors-background-interactive-positive-primary: #bfddcb;
  --colors-background-interactive-positive-primaryHover: #a3cfb5;
  --colors-background-interactive-positive-primarySelected: #87c09e;
  --colors-background-interactive-positive-secondary: #0b7737;
  --colors-background-interactive-positive-secondaryHover: #298d4e;
  --colors-background-interactive-positive-secondarySelected: #095d2b;
  --colors-background-interactive-primary: #d8c186;
  --colors-background-interactive-primaryDisabled: #504e4b;
  --colors-background-interactive-primaryHover: #aa8a3a;
  --colors-background-interactive-primaryHoverOnBold: #151515;
  --colors-background-interactive-primaryInverted: #151515;
  --colors-background-interactive-primaryInvertedDisabled: #a9a5a1;
  --colors-background-interactive-primaryOnBold: #2a2a29;
  --colors-background-interactive-primarySelected: #aa8a3a;
  --colors-background-interactive-primarySelectedOnBold: #151515;
  --colors-background-interactive-tertiary: #151515;
  --colors-background-interactive-warning-disabled: #1e1700;
  --colors-background-interactive-warning-primary: #ffe07a;
  --colors-background-interactive-warning-primaryHover: #f4bd00;
  --colors-background-interactive-warning-primarySelected: #f4bd00;
  --colors-background-interactive-warning-secondary: #846a00;
  --colors-background-interactive-warning-secondaryHover: #413300;
  --colors-background-interactive-warning-secondarySelected: #2f2400;
  --colors-background-messageRecipient: #504e4b;
  --colors-background-messageSender: #765f26;
  --colors-background-overlay-primary: #000000;
  --colors-background-primary: #2a2a29;
  --colors-background-primaryDisabled: #928e8a;
  --colors-background-primaryInverted: #f8f7f7;
  --colors-background-primaryOnBold: #151515;
  --colors-background-quanternary: #000000;
  --colors-background-secondary: #1e1e1e;
  --colors-background-secondaryDisabled: #928e8a;
  --colors-background-successRemove: #095d2b;
  --colors-background-tertiary: #151515;
  --colors-background-tertiaryDisabled: #928e8a;
  --colors-background-warningRemove: #b54708;
  --colors-border-input-active: #504e4b;
  --colors-border-input-brandPrimary: #d8c186;
  --colors-border-input-disabled: #504e4b;
  --colors-border-input-focused: #9bc3ce;
  --colors-border-input-negative: #eea2a7;
  --colors-border-input-positive: #bfddcb;
  --colors-border-input-primary: #504e4b;
  --colors-border-interactive-accent: #9bc3ce;
  --colors-border-interactive-fab: #f8f7f7;
  --colors-border-interactive-fabOnBold: #2a2a29;
  --colors-border-interactive-negative: #eea2a7;
  --colors-border-interactive-netural: #dfdfdf;
  --colors-border-interactive-neutral: #dfdfdf;
  --colors-border-interactive-positive: #bfddcb;
  --colors-border-interactive-secondary: #d8c186;
  --colors-border-interactive-secondaryDisabled: #504e4b;
  --colors-border-interactive-secondaryHover: #aa8a3a;
  --colors-border-interactive-secondarySelected: #aa8a3a;
  --colors-border-interactive-tertiary: #ffffff00;
  --colors-border-interactive-tertiaryHover: #aa8a3a;
  --colors-border-interactive-warning: #ffe07a;
  --colors-border-onBold: #a9a5a1;
  --colors-border-primary: #504e4b;
  --colors-border-primaryActive: #d8c186;
  --colors-border-primaryDisabled: #504e4b;
  --colors-border-primaryFocused: #e2d1a4;
  --colors-border-primaryHover: #323231;
  --colors-brand-primary: #d8c186;
  --colors-brand-secondary: #a1151a;
  --colors-content-accent-disabled: #9bc3ce;
  --colors-content-accent-primary: #f3f8f9;
  --colors-content-accent-secondary: #03323d;
  --colors-content-brandPrimary: #d8c186;
  --colors-content-brandPrimaryDisabled: #928e8a;
  --colors-content-brandPrimaryOnBold: #d8c186;
  --colors-content-brandPrimarySelected: #bfa970;
  --colors-content-brandPrimarySelectedOnBold: #bfa970;
  --colors-content-interactive-primary: #2a2a29;
  --colors-content-interactive-primaryDisabled: #a9a5a1;
  --colors-content-interactive-primarySelected: #151515;
  --colors-content-interactive-secondary: #d8c186;
  --colors-content-interactive-secondaryDisabled: #6d6965;
  --colors-content-interactive-secondarySelected: #aa8a3a;
  --colors-content-invertedOnBold: #2a2a29;
  --colors-content-link-primary: #d8c186;
  --colors-content-link-primaryInverted: #765f26;
  --colors-content-negative-disabled: #eea2a7;
  --colors-content-negative-primary: #fbf4f4;
  --colors-content-negative-secondary: #4d1310;
  --colors-content-neutral-disabled: #dfdfdf;
  --colors-content-neutral-primary: #dfdfdf;
  --colors-content-neutral-secondary: #4e4e4e;
  --colors-content-positive-disabled: #6ab186;
  --colors-content-positive-primary: #f3f9f5;
  --colors-content-positive-secondary: #07411e;
  --colors-content-primary: #f8f7f7;
  --colors-content-primaryAccent: #7ab1bf;
  --colors-content-primaryDisabled: #928e8a;
  --colors-content-primaryInverted: #2a2a29;
  --colors-content-primaryNegative: #eea2a7;
  --colors-content-primaryOnBold: #f8f7f7;
  --colors-content-primaryPositive: #bfddcb;
  --colors-content-primaryWarning: #f4bd00;
  --colors-content-secondary: #c3c1be;
  --colors-content-secondaryDisabled: #928e8a;
  --colors-content-secondaryInverted: #151515;
  --colors-content-warning-disabled: #b88e00;
  --colors-content-warning-primary: #fdf2cc;
  --colors-content-warning-secondary: #413300;
  --colors-dataVisualization-first-disabled: #9bc3ce;
  --colors-dataVisualization-first-hover: #5b9cae;
  --colors-dataVisualization-first-inverted: #d6e7eb;
  --colors-dataVisualization-first-primary: #7ab1bf;
  --colors-dataVisualization-first-selected: #3a869b;
  --colors-dataVisualization-fourth-disabled: #eea2a7;
  --colors-dataVisualization-fourth-hover: #d56869;
  --colors-dataVisualization-fourth-interverted: #f7dadc;
  --colors-dataVisualization-fourth-inverted: #f7dadc;
  --colors-dataVisualization-fourth-primary: #e38588;
  --colors-dataVisualization-fourth-selected: #c04c4c;
  --colors-dataVisualization-second-default: #87c09e;
  --colors-dataVisualization-second-disabled: #a3cfb5;
  --colors-dataVisualization-second-hover: #6ab186;
  --colors-dataVisualization-second-interverted: #f3f9f5;
  --colors-dataVisualization-second-inverted: #f3f9f5;
  --colors-dataVisualization-second-primary: #87c09e;
  --colors-dataVisualization-second-selected: #4b9f6a;
  --colors-dataVisualization-third-default: #f79009;
  --colors-dataVisualization-third-disabled: #fdb022;
  --colors-dataVisualization-third-hover: #dc6803;
  --colors-dataVisualization-third-interverted: #fedf89;
  --colors-dataVisualization-third-inverted: #fedf89;
  --colors-dataVisualization-third-primary: #f79009;
  --colors-dataVisualization-third-selected: #b54708;
  --colors-modeAgnostic-black-100: #0000000a;
  --colors-modeAgnostic-black-200: #00000014;
  --colors-modeAgnostic-black-300: #00000029;
  --colors-modeAgnostic-white-100: #ffffff1a;
  --colors-modeAgnostic-white-200: #ffffff40;
  --colors-sentiment-accent-primary: #9bc3ce;
  --colors-sentiment-accent-primaryDisabled: #d6e7eb;
  --colors-sentiment-accent-primaryHover: #9bc3ce;
  --colors-sentiment-accent-primarySelected: #7ab1bf;
  --colors-sentiment-accent-secndaryHover: #0d6d87;
  --colors-sentiment-accent-secondary: #055164;
  --colors-sentiment-accent-secondaryDisabled: #03323d;
  --colors-sentiment-accent-secondarySelected: #03323d;
  --colors-sentiment-negative-primary: #eea2a7;
  --colors-sentiment-negative-primaryDisabled: #f7dadc;
  --colors-sentiment-negative-primaryHover: #f4bec3;
  --colors-sentiment-negative-primarySelected: #f4bec3;
  --colors-sentiment-negative-secndaryHover: #762824;
  --colors-sentiment-negative-secondary: #9d3a37;
  --colors-sentiment-negative-secondaryDisabled: #4d1310;
  --colors-sentiment-negative-secondarySelected: #762824;
  --colors-sentiment-neutral-primary: #dfdfdf;
  --colors-sentiment-neutral-primaryDisabled: #dfdfdf;
  --colors-sentiment-neutral-primaryHover: #ffffff;
  --colors-sentiment-neutral-primarySelected: #c8c8ca;
  --colors-sentiment-neutral-secndaryHover: #4e4e4e;
  --colors-sentiment-neutral-secondary: #4e4e4e;
  --colors-sentiment-neutral-secondaryDisabled: #696969;
  --colors-sentiment-neutral-secondarySelected: #000000;
  --colors-sentiment-positive-primary: #bfddcb;
  --colors-sentiment-positive-primaryDisabled: #07411e;
  --colors-sentiment-positive-primaryHover: #a3cfb5;
  --colors-sentiment-positive-primarySelected: #87c09e;
  --colors-sentiment-positive-secndaryHover: #298d4e;
  --colors-sentiment-positive-secondary: #0b7737;
  --colors-sentiment-positive-secondaryDisabled: #07411e;
  --colors-sentiment-positive-secondarySelected: #095d2b;
  --colors-sentiment-warning-primary: #ffe07a;
  --colors-sentiment-warning-primaryDisabled: #1e1700;
  --colors-sentiment-warning-primaryHover: #f4bd00;
  --colors-sentiment-warning-primarySelected: #f4bd00;
  --colors-sentiment-warning-secndaryHover: #413300;
  --colors-sentiment-warning-secondary: #846a00;
  --colors-sentiment-warning-secondaryDisabled: #1e1700;
  --colors-sentiment-warning-secondarySelected: #2f2400;
  --dropShadow-large: 0px 2px 4px #000000;
  --dropShadow-medium: 0px 2px 4px #000000;
  --dropShadow-small: 0px 2px 4px #000000;
  --dropShadow-xlarge: 0px 2px 4px #000000;
  --font-fontFamily-ffPrimary: Scto Grotesk A;
  --font-fontFamily-ffSecondary: Scto Grotesk A;
  --font-fontSize-2xl: 1.375rem;
  --font-fontSize-2xs: 0.6875rem;
  --font-fontSize-3xl: 1.625rem;
  --font-fontSize-4xl: 1.75rem;
  --font-fontSize-5xl: 2rem;
  --font-fontSize-6xl: 2.25rem;
  --font-fontSize-7xl: 2.5rem;
  --font-fontSize-8xl: 3rem;
  --font-fontSize-lg: 1.125rem;
  --font-fontSize-md: 1rem;
  --font-fontSize-sm: 0.875rem;
  --font-fontSize-xl: 1.25rem;
  --font-fontSize-xs: 0.75rem;
  --font-fontWeight-bold: 700;
  --font-fontWeight-extraBold: 800;
  --font-fontWeight-light: 300;
  --font-fontWeight-medium: 500;
  --font-fontWeight-regular: 400;
  --font-fontWeight-semibold: 600;
  --font-letterSpacing-2xs: -0.046875rem;
  --font-letterSpacing-lg: 0.015625rem;
  --font-letterSpacing-none: 0rem;
  --font-letterSpacing-sm: -0.015625rem;
  --font-letterSpacing-xs: -0.03125rem;
  --font-lineHeight-1000: 2.5rem;
  --font-lineHeight-1050: 2.625rem;
  --font-lineHeight-1100: 2.75rem;
  --font-lineHeight-1200: 3rem;
  --font-lineHeight-1600: 4rem;
  --font-lineHeight-300: 0.75rem;
  --font-lineHeight-350: 0.875rem;
  --font-lineHeight-400: 1rem;
  --font-lineHeight-450: 1.125rem;
  --font-lineHeight-500: 1.25rem;
  --font-lineHeight-550: 1.375rem;
  --font-lineHeight-600: 1.5rem;
  --font-lineHeight-650: 1.625rem;
  --font-lineHeight-700: 1.75rem;
  --font-lineHeight-800: 2rem;
  --font-lineHeight-850: 2.125rem;
  --font-lineHeight-900: 2.25rem;
  --gap-10xl: 6rem;
  --gap-11xl: 8rem;
  --gap-12xl: 10rem;
  --gap-13xl: 12rem;
  --gap-14xl: 14rem;
  --gap-15xl: 16rem;
  --gap-2xl: 1.25rem;
  --gap-2xs: 0.25rem;
  --gap-3xl: 1.5rem;
  --gap-3xs: 0.125rem;
  --gap-4xl: 2rem;
  --gap-4xs: 0.0625rem;
  --gap-5xl: 2.25rem;
  --gap-6xl: 2.5rem;
  --gap-7xl: 3rem;
  --gap-8xl: 4rem;
  --gap-9xl: 5rem;
  --gap-input-vertical: 0.8125rem;
  --gap-lg: 0.8125rem;
  --gap-md: 0.75rem;
  --gap-none: 0rem;
  --gap-sm: 0.5rem;
  --gap-xl: 1rem;
  --gap-xs: 0.375rem;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --sentiment-accent-primary: #9bc3ce;
  --sentiment-accent-primaryDisabled: #d6e7eb;
  --sentiment-accent-primaryHover: #9bc3ce;
  --sentiment-accent-primarySelected: #7ab1bf;
  --sentiment-accent-secondary: #055164;
  --sentiment-accent-secondaryDisabled: #03323d;
  --sentiment-accent-secondaryHover: #0d6d87;
  --sentiment-accent-secondarySelected: #03323d;
  --sentiment-negative-primary: #eea2a7;
  --sentiment-negative-primaryDisabled: #f7dadc;
  --sentiment-negative-primaryHover: #f4bec3;
  --sentiment-negative-primarySelected: #f4bec3;
  --sentiment-negative-secondary: #9d3a37;
  --sentiment-negative-secondaryDisabled: #4d1310;
  --sentiment-negative-secondaryHover: #762824;
  --sentiment-negative-secondarySelected: #762824;
  --sentiment-neutral-primary: #dfdfdf;
  --sentiment-neutral-primaryDisabled: #ebeae9;
  --sentiment-neutral-primaryHover: #ffffff;
  --sentiment-neutral-primarySelected: #c0c0c0;
  --sentiment-neutral-secondary: #323231;
  --sentiment-neutral-secondaryDisabled: #696969;
  --sentiment-neutral-secondaryHover: #504e4b;
  --sentiment-neutral-secondarySelected: #000000;
  --sentiment-positive-primary: #bfddcb;
  --sentiment-positive-primaryDisabled: #07411e;
  --sentiment-positive-primaryHover: #a3cfb5;
  --sentiment-positive-primarySelected: #87c09e;
  --sentiment-positive-secondary: #0b7737;
  --sentiment-positive-secondaryDisabled: #07411e;
  --sentiment-positive-secondaryHover: #298d4e;
  --sentiment-positive-secondarySelected: #095d2b;
  --sentiment-warning-primary: #ffe07a;
  --sentiment-warning-primaryDisabled: #1e1700;
  --sentiment-warning-primaryHover: #f4bd00;
  --sentiment-warning-primarySelected: #f4bd00;
  --sentiment-warning-secondary: #846a00;
  --sentiment-warning-secondaryDisabled: #1e1700;
  --sentiment-warning-secondaryHover: #413300;
  --sentiment-warning-secondarySelected: #2f2400;
  --size-2xl: 2rem;
  --size-2xs: 0.5rem;
  --size-3xl: 3rem;
  --size-3xs: 0.25rem;
  --size-4xl: 4rem;
  --size-4xs: 0.125rem;
  --size-5xl: 6rem;
  --size-5xs: 0rem;
  --size-6xl: 7rem;
  --size-7xl: 8rem;
  --size-lg: 1.25rem;
  --size-md: 1rem;
  --size-sm: 0.8125rem;
  --size-xl: 1.5rem;
  --size-xs: 0.6875rem;
  --typeStyles-bodyLarge-font-size: 18px;
  --typeStyles-bodyLarge-fontFamily: "Scto Grotesk A";
  --typeStyles-bodyLarge-fontWeight: 400;
  --typeStyles-bodyLarge-letterSpacing: 0px;
  --typeStyles-bodyLarge-lineHeight: 24px;
  --typeStyles-bodyLarge-paragraphSpacing: 0;
  --typeStyles-bodyMedium-font-size: 16px;
  --typeStyles-bodyMedium-fontFamily: "Scto Grotesk A";
  --typeStyles-bodyMedium-fontWeight: 400;
  --typeStyles-bodyMedium-letterSpacing: 0px;
  --typeStyles-bodyMedium-lineHeight: 22px;
  --typeStyles-bodyMedium-paragraphSpacing: 0;
  --typeStyles-bodySmall-font-size: 14px;
  --typeStyles-bodySmall-fontFamily: "Scto Grotesk A";
  --typeStyles-bodySmall-fontWeight: 400;
  --typeStyles-bodySmall-letterSpacing: 0px;
  --typeStyles-bodySmall-lineHeight: 18px;
  --typeStyles-bodySmall-paragraphSpacing: 0;
  --typeStyles-bodyXsmall-font-size: 12px;
  --typeStyles-bodyXsmall-fontFamily: "Scto Grotesk A";
  --typeStyles-bodyXsmall-fontWeight: 400;
  --typeStyles-bodyXsmall-letterSpacing: 0px;
  --typeStyles-bodyXsmall-lineHeight: 16px;
  --typeStyles-bodyXsmall-paragraphSpacing: 0;
  --typeStyles-display1-font-size: 32px;
  --typeStyles-display1-fontFamily: "Scto Grotesk A";
  --typeStyles-display1-fontWeight: 700;
  --typeStyles-display1-letterSpacing: -0.25px;
  --typeStyles-display1-lineHeight: 40px;
  --typeStyles-display1-paragraphSpacing: 0;
  --typeStyles-heading1-font-size: 26px;
  --typeStyles-heading1-fontFamily: "Scto Grotesk A";
  --typeStyles-heading1-fontWeight: 700;
  --typeStyles-heading1-letterSpacing: -0.25px;
  --typeStyles-heading1-lineHeight: 32px;
  --typeStyles-heading1-paragraphSpacing: 0;
  --typeStyles-heading1Web-font-size: 40px;
  --typeStyles-heading1Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading1Web-fontWeight: 700;
  --typeStyles-heading1Web-letterSpacing: -0.25px;
  --typeStyles-heading1Web-lineHeight: 48px;
  --typeStyles-heading1Web-paragraphSpacing: 0;
  --typeStyles-heading2-font-size: 22px;
  --typeStyles-heading2-fontFamily: "Scto Grotesk A";
  --typeStyles-heading2-fontWeight: 700;
  --typeStyles-heading2-letterSpacing: -0.25px;
  --typeStyles-heading2-lineHeight: 24px;
  --typeStyles-heading2-paragraphSpacing: 0;
  --typeStyles-heading2Web-font-size: 36px;
  --typeStyles-heading2Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading2Web-fontWeight: 700;
  --typeStyles-heading2Web-letterSpacing: -0.25px;
  --typeStyles-heading2Web-lineHeight: 44px;
  --typeStyles-heading2Web-paragraphSpacing: 0;
  --typeStyles-heading3-font-size: 20px;
  --typeStyles-heading3-fontFamily: "Scto Grotesk A";
  --typeStyles-heading3-fontWeight: 700;
  --typeStyles-heading3-letterSpacing: -0.25px;
  --typeStyles-heading3-lineHeight: 24px;
  --typeStyles-heading3-paragraphSpacing: 0;
  --typeStyles-heading3Web-font-size: 32px;
  --typeStyles-heading3Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading3Web-fontWeight: 700;
  --typeStyles-heading3Web-letterSpacing: -0.25px;
  --typeStyles-heading3Web-lineHeight: 40px;
  --typeStyles-heading3Web-paragraphSpacing: 0;
  --typeStyles-heading4-font-size: 18px;
  --typeStyles-heading4-fontFamily: "Scto Grotesk A";
  --typeStyles-heading4-fontWeight: 700;
  --typeStyles-heading4-letterSpacing: -0.25px;
  --typeStyles-heading4-lineHeight: 20px;
  --typeStyles-heading4-paragraphSpacing: 0;
  --typeStyles-heading4Web-font-size: 26px;
  --typeStyles-heading4Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading4Web-fontWeight: 700;
  --typeStyles-heading4Web-letterSpacing: -0.25px;
  --typeStyles-heading4Web-lineHeight: 34px;
  --typeStyles-heading4Web-paragraphSpacing: 0;
  --typeStyles-heading5-font-size: 16px;
  --typeStyles-heading5-fontFamily: "Scto Grotesk A";
  --typeStyles-heading5-fontWeight: 700;
  --typeStyles-heading5-letterSpacing: -0.25px;
  --typeStyles-heading5-lineHeight: 20px;
  --typeStyles-heading5-paragraphSpacing: 0;
  --typeStyles-heading5Web-font-size: 22px;
  --typeStyles-heading5Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading5Web-fontWeight: 700;
  --typeStyles-heading5Web-letterSpacing: -0.25px;
  --typeStyles-heading5Web-lineHeight: 32px;
  --typeStyles-heading5Web-paragraphSpacing: 0;
  --typeStyles-titleLarge-font-size: 18px;
  --typeStyles-titleLarge-fontFamily: "Scto Grotesk A";
  --typeStyles-titleLarge-fontWeight: 500;
  --typeStyles-titleLarge-letterSpacing: 0px;
  --typeStyles-titleLarge-lineHeight: 20px;
  --typeStyles-titleLarge-paragraphSpacing: 0;
  --typeStyles-titleMedium-font-size: 16px;
  --typeStyles-titleMedium-fontFamily: "Scto Grotesk A";
  --typeStyles-titleMedium-fontWeight: 500;
  --typeStyles-titleMedium-letterSpacing: 0px;
  --typeStyles-titleMedium-lineHeight: 20px;
  --typeStyles-titleMedium-paragraphSpacing: 0;
  --typeStyles-titleSmall-font-size: 14px;
  --typeStyles-titleSmall-fontFamily: "Scto Grotesk A";
  --typeStyles-titleSmall-fontWeight: 500;
  --typeStyles-titleSmall-letterSpacing: 0.25px;
  --typeStyles-titleSmall-lineHeight: 16px;
  --typeStyles-titleSmall-paragraphSpacing: 0;
  --typeStyles-titleXsmall-font-size: 12px;
  --typeStyles-titleXsmall-fontFamily: "Scto Grotesk A";
  --typeStyles-titleXsmall-fontWeight: 500;
  --typeStyles-titleXsmall-letterSpacing: -0.25px;
  --typeStyles-titleXsmall-lineHeight: 16px;
  --typeStyles-titleXsmall-paragraphSpacing: 0;
}

/* Theme: Southern Glazers Light */

:root,
[data-theme="southern-glazers-light"] {
  --borderRadius-button-default: 9999px;
  --borderRadius-button-secondary: 0.5rem;
  --borderRadius-full: 9999px;
  --borderRadius-input-default: 0.5rem;
  --borderRadius-lg: 1rem;
  --borderRadius-md: 0.75rem;
  --borderRadius-none: 0rem;
  --borderRadius-search-default: 0.5rem;
  --borderRadius-sm: 0.5rem;
  --borderRadius-xl: 1.5rem;
  --borderRadius-xs: 0.25rem;
  --borderWidth-2xl: 0.625rem;
  --borderWidth-input-default: 0.0625rem;
  --borderWidth-input-selected: 0.0625rem;
  --borderWidth-lg: 0.1875rem;
  --borderWidth-md: 0.125rem;
  --borderWidth-none: 0rem;
  --borderWidth-sm: 0.0625rem;
  --borderWidth-xl: 0.375rem;
  --colors-background-badge-brand: #e9d092;
  --colors-background-badge-default: #c3c1be;
  --colors-background-badge-success: #6ab186;
  --colors-background-badge-warning: #fdb022;
  --colors-background-brandPrimary: #e2d1a4;
  --colors-background-brandSecondary: #f9e9ea;
  --colors-background-cautionRemove: #fefcf2;
  --colors-background-errorRemove: #fbf4f4;
  --colors-background-infoRemove: #f3f8f9;
  --colors-background-input-brand: #fff8e6;
  --colors-background-input-brandDisabled: #c3c1be;
  --colors-background-input-input: #f8f7f7;
  --colors-background-input-inputActive: #f8f7f7;
  --colors-background-input-inputDisabled: #ebeae9;
  --colors-background-input-inputError: #eea2a7;
  --colors-background-input-inputPressed: #ebeae9;
  --colors-background-interactive-accent-disabled: #f3f8f9;
  --colors-background-interactive-accent-primary: #0d6d87;
  --colors-background-interactive-accent-primaryHover: #0d6d87;
  --colors-background-interactive-accent-primarySelected: #055164;
  --colors-background-interactive-accent-secondary: #9bc3ce;
  --colors-background-interactive-accent-secondaryHover: #9bc3ce;
  --colors-background-interactive-accent-secondarySelected: #7ab1bf;
  --colors-background-interactive-errorRemove: #d56869;
  --colors-background-interactive-negative-disabled: #f7dadc;
  --colors-background-interactive-negative-primary: #9d3a37;
  --colors-background-interactive-negative-primaryHover: #762824;
  --colors-background-interactive-negative-primarySelected: #4d1310;
  --colors-background-interactive-negative-secondary: #fbf4f4;
  --colors-background-interactive-negative-secondaryHover: #f7dadc;
  --colors-background-interactive-negative-secondarySelected: #f7dadc;
  --colors-background-interactive-neutral-disabled: #dfdfdf;
  --colors-background-interactive-neutral-primary: #1e1e1e;
  --colors-background-interactive-neutral-primaryHover: #353535;
  --colors-background-interactive-neutral-primarySelected: #000000;
  --colors-background-interactive-neutral-secondary: #dfdfdf;
  --colors-background-interactive-neutral-secondaryHover: #ffffff;
  --colors-background-interactive-neutral-secondarySelected: #c8c8ca;
  --colors-background-interactive-positive-disabled: #f3f9f5;
  --colors-background-interactive-positive-primary: #0b7737;
  --colors-background-interactive-positive-primaryHover: #095d2b;
  --colors-background-interactive-positive-primarySelected: #07411e;
  --colors-background-interactive-positive-secondary: #bfddcb;
  --colors-background-interactive-positive-secondaryHover: #a3cfb5;
  --colors-background-interactive-positive-secondarySelected: #a3cfb5;
  --colors-background-interactive-primary: #323231;
  --colors-background-interactive-primaryDisabled: #c3c1be;
  --colors-background-interactive-primaryHover: #1e1e1e;
  --colors-background-interactive-primaryHoverOnBold: #000000;
  --colors-background-interactive-primaryInverted: #f8f7f7;
  --colors-background-interactive-primaryInvertedDisabled: #6d6965;
  --colors-background-interactive-primaryOnBold: #1e1e1e;
  --colors-background-interactive-primarySelected: #000000;
  --colors-background-interactive-primarySelectedOnBold: #000000;
  --colors-background-interactive-tertiary: #f8f7f7;
  --colors-background-interactive-warning-disabled: #fefcf2;
  --colors-background-interactive-warning-primary: #f4bd00;
  --colors-background-interactive-warning-primaryHover: #b88e00;
  --colors-background-interactive-warning-primaryHoverSelected: #b88e00;
  --colors-background-interactive-warning-primarySelected: #b88e00;
  --colors-background-interactive-warning-secondary: #ffe07a;
  --colors-background-interactive-warning-secondaryHover: #f4bd00;
  --colors-background-interactive-warning-secondarySelected: #f4bd00;
  --colors-background-messageRecipient: #ebeae9;
  --colors-background-messageSender: #7e0005;
  --colors-background-overlay-primary: #000000;
  --colors-background-primary: #ffffff;
  --colors-background-primaryDisabled: #696969;
  --colors-background-primaryInverted: #000000;
  --colors-background-primaryOnBold: #1e1e1e;
  --colors-background-quanternary: #c8c8ca;
  --colors-background-secondary: #f8f7f7;
  --colors-background-secondaryDisabled: #6d6965;
  --colors-background-successRemove: #f3f9f5;
  --colors-background-tertiary: #dfdfdf;
  --colors-background-tertiaryDisabled: #696969;
  --colors-background-warningRemove: #fef0c7;
  --colors-border-input-active: #a9a5a1;
  --colors-border-input-brandPrimary: #765f26;
  --colors-border-input-disabled: #c3c1be;
  --colors-border-input-focused: #0d6d87;
  --colors-border-input-negative: #9d3a37;
  --colors-border-input-positive: #0b7737;
  --colors-border-input-primary: #ebeae9;
  --colors-border-interactive-accent: #0d6d87;
  --colors-border-interactive-fab: #000000;
  --colors-border-interactive-fabOnBold: #1e1e1e;
  --colors-border-interactive-negative: #9d3a37;
  --colors-border-interactive-netural: #1e1e1e;
  --colors-border-interactive-neutral: #353535;
  --colors-border-interactive-positive: #0b7737;
  --colors-border-interactive-secondary: #2a2a29;
  --colors-border-interactive-secondaryDisabled: #c3c1be;
  --colors-border-interactive-secondaryHover: #323231;
  --colors-border-interactive-secondarySelected: #323231;
  --colors-border-interactive-tertiaryHover: #2a2a29;
  --colors-border-interactive-warning: #f4bd00;
  --colors-border-onBold: #a9a5a1;
  --colors-border-primary: #c3c1be;
  --colors-border-primaryActive: #323231;
  --colors-border-primaryDisabled: #a9a5a1;
  --colors-border-primaryFocused: #5b9cae;
  --colors-border-primaryHover: #a9a5a1;
  --colors-brand-primary: #d8c186;
  --colors-brand-secondary: #a1151a;
  --colors-content-accent-disabled: #0d6d87;
  --colors-content-accent-primary: #03323d;
  --colors-content-accent-secondary: #f3f8f9;
  --colors-content-brandPrimary: #765f26;
  --colors-content-brandPrimaryDisabled: #928e8a;
  --colors-content-brandPrimaryOnBold: #d8c186;
  --colors-content-brandPrimarySelected: #58471c;
  --colors-content-brandPrimarySelectedOnBold: #bfa970;
  --colors-content-interactive-primary: #f8f7f7;
  --colors-content-interactive-primaryDisabled: #928e8a;
  --colors-content-interactive-primarySelected: #f8f7f7;
  --colors-content-interactive-secondary: #2a2a29;
  --colors-content-interactive-secondaryDisabled: #928e8a;
  --colors-content-interactive-secondarySelected: #151515;
  --colors-content-invertedOnBold: #2a2a29;
  --colors-content-link-primary: #765f26;
  --colors-content-link-primaryInverted: #e9d092;
  --colors-content-negative-disabled: #c04c4c;
  --colors-content-negative-primary: #9d3a37;
  --colors-content-negative-secondary: #fbf4f4;
  --colors-content-neutral-disabled: #696969;
  --colors-content-neutral-primary: #1e1e1e;
  --colors-content-neutral-secondary: #dfdfdf;
  --colors-content-positive-disabled: #0b7737;
  --colors-content-positive-primary: #095d2b;
  --colors-content-positive-secondary: #f3f9f5;
  --colors-content-primary: #2a2a29;
  --colors-content-primaryAccent: #0d6d87;
  --colors-content-primaryDisabled: #6d6965;
  --colors-content-primaryInverted: #f8f7f7;
  --colors-content-primaryNegative: #9d3a37;
  --colors-content-primaryOnBold: #f8f7f7;
  --colors-content-primaryPositive: #0b7737;
  --colors-content-primaryWarning: #846a00;
  --colors-content-secondary: #504e4b;
  --colors-content-secondaryDisabled: #6d6965;
  --colors-content-secondaryInverted: #ebeae9;
  --colors-content-warning-disabled: #846a00;
  --colors-content-warning-primary: #624c00;
  --colors-content-warning-secondary: #2f2400;
  --colors-dataVisualization-first-disabled: #9bc3ce;
  --colors-dataVisualization-first-hover: #5b9cae;
  --colors-dataVisualization-first-inverted: #d6e7eb;
  --colors-dataVisualization-first-primary: #7ab1bf;
  --colors-dataVisualization-first-selected: #3a869b;
  --colors-dataVisualization-fourth-disabled: #eea2a7;
  --colors-dataVisualization-fourth-hover: #d56869;
  --colors-dataVisualization-fourth-interverted: #f7dadc;
  --colors-dataVisualization-fourth-inverted: #f7dadc;
  --colors-dataVisualization-fourth-primary: #e38588;
  --colors-dataVisualization-fourth-selected: #c04c4c;
  --colors-dataVisualization-second-default: #87c09e;
  --colors-dataVisualization-second-disabled: #a3cfb5;
  --colors-dataVisualization-second-hover: #6ab186;
  --colors-dataVisualization-second-interverted: #f3f9f5;
  --colors-dataVisualization-second-inverted: #f3f9f5;
  --colors-dataVisualization-second-primary: #87c09e;
  --colors-dataVisualization-second-selected: #4b9f6a;
  --colors-dataVisualization-third-default: #f79009;
  --colors-dataVisualization-third-disabled: #fdb022;
  --colors-dataVisualization-third-hover: #dc6803;
  --colors-dataVisualization-third-interverted: #fedf89;
  --colors-dataVisualization-third-inverted: #fedf89;
  --colors-dataVisualization-third-primary: #f79009;
  --colors-dataVisualization-third-selected: #b54708;
  --colors-modeAgnostic-black-100: #0000000a;
  --colors-modeAgnostic-black-200: #00000014;
  --colors-modeAgnostic-black-300: #00000029;
  --colors-modeAgnostic-white-100: #ffffff1a;
  --colors-modeAgnostic-white-200: #ffffff40;
  --colors-sentiment-accent-primary: #0d6d87;
  --colors-sentiment-accent-primaryDisabled: #9bc3ce;
  --colors-sentiment-accent-primaryHover: #0d6d87;
  --colors-sentiment-accent-primarySelected: #055164;
  --colors-sentiment-accent-secndaryHover: #9bc3ce;
  --colors-sentiment-accent-secondary: #9bc3ce;
  --colors-sentiment-accent-secondaryDisabled: #f3f8f9;
  --colors-sentiment-accent-secondarySelected: #7ab1bf;
  --colors-sentiment-negative-primary: #9d3a37;
  --colors-sentiment-negative-primaryDisabled: #f7dadc;
  --colors-sentiment-negative-primaryHover: #762824;
  --colors-sentiment-negative-primarySelected: #4d1310;
  --colors-sentiment-negative-secndaryHover: #f7dadc;
  --colors-sentiment-negative-secondary: #fbf4f4;
  --colors-sentiment-negative-secondaryDisabled: #f7dadc;
  --colors-sentiment-negative-secondarySelected: #f7dadc;
  --colors-sentiment-neutral-primary: #1e1e1e;
  --colors-sentiment-neutral-primaryDisabled: #696969;
  --colors-sentiment-neutral-primaryHover: #353535;
  --colors-sentiment-neutral-primarySelected: #000000;
  --colors-sentiment-neutral-secndaryHover: #ffffff;
  --colors-sentiment-neutral-secondary: #dfdfdf;
  --colors-sentiment-neutral-secondaryDisabled: #dfdfdf;
  --colors-sentiment-neutral-secondarySelected: #c8c8ca;
  --colors-sentiment-positive-primary: #0b7737;
  --colors-sentiment-positive-primaryDisabled: #87c09e;
  --colors-sentiment-positive-primaryHover: #095d2b;
  --colors-sentiment-positive-primarySelected: #07411e;
  --colors-sentiment-positive-secndaryHover: #a3cfb5;
  --colors-sentiment-positive-secondary: #bfddcb;
  --colors-sentiment-positive-secondaryDisabled: #f3f9f5;
  --colors-sentiment-positive-secondarySelected: #a3cfb5;
  --colors-sentiment-warning-primary: #f4bd00;
  --colors-sentiment-warning-primaryDisabled: #fefcf2;
  --colors-sentiment-warning-primaryHover: #b88e00;
  --colors-sentiment-warning-primarySelected: #b88e00;
  --colors-sentiment-warning-secndaryHover: #f4bd00;
  --colors-sentiment-warning-secondary: #ffe07a;
  --colors-sentiment-warning-secondaryDisabled: #fefcf2;
  --colors-sentiment-warning-secondarySelected: #f4bd00;
  --dropShadow-large: 0px 2px 4px #000000;
  --dropShadow-medium: 0px 2px 4px #000000;
  --dropShadow-small: 0px 2px 4px #000000;
  --dropShadow-xlarge: 0px 2px 4px #000000;
  --font-fontFamily-ffPrimary: Scto Grotesk A;
  --font-fontFamily-ffSecondary: Scto Grotesk A;
  --font-fontSize-2xl: 1.375rem;
  --font-fontSize-2xs: 0.6875rem;
  --font-fontSize-3xl: 1.625rem;
  --font-fontSize-4xl: 1.75rem;
  --font-fontSize-5xl: 2rem;
  --font-fontSize-6xl: 2.25rem;
  --font-fontSize-7xl: 2.5rem;
  --font-fontSize-8xl: 3rem;
  --font-fontSize-lg: 1.125rem;
  --font-fontSize-md: 1rem;
  --font-fontSize-sm: 0.875rem;
  --font-fontSize-xl: 1.25rem;
  --font-fontSize-xs: 0.75rem;
  --font-fontWeight-bold: 700;
  --font-fontWeight-extraBold: 800;
  --font-fontWeight-light: 300;
  --font-fontWeight-medium: 500;
  --font-fontWeight-regular: 400;
  --font-fontWeight-semibold: 600;
  --font-letterSpacing-2xs: -0.046875rem;
  --font-letterSpacing-lg: 0.015625rem;
  --font-letterSpacing-none: 0rem;
  --font-letterSpacing-sm: -0.015625rem;
  --font-letterSpacing-xs: -0.03125rem;
  --font-lineHeight-1000: 2.5rem;
  --font-lineHeight-1050: 2.625rem;
  --font-lineHeight-1100: 2.75rem;
  --font-lineHeight-1200: 3rem;
  --font-lineHeight-1600: 4rem;
  --font-lineHeight-300: 0.75rem;
  --font-lineHeight-350: 0.875rem;
  --font-lineHeight-400: 1rem;
  --font-lineHeight-450: 1.125rem;
  --font-lineHeight-500: 1.25rem;
  --font-lineHeight-550: 1.375rem;
  --font-lineHeight-600: 1.5rem;
  --font-lineHeight-650: 1.625rem;
  --font-lineHeight-700: 1.75rem;
  --font-lineHeight-800: 2rem;
  --font-lineHeight-850: 2.125rem;
  --font-lineHeight-900: 2.25rem;
  --gap-10xl: 6rem;
  --gap-11xl: 8rem;
  --gap-12xl: 10rem;
  --gap-13xl: 12rem;
  --gap-14xl: 14rem;
  --gap-15xl: 16rem;
  --gap-2xl: 1.25rem;
  --gap-2xs: 0.25rem;
  --gap-3xl: 1.5rem;
  --gap-3xs: 0.125rem;
  --gap-4xl: 2rem;
  --gap-4xs: 0.0625rem;
  --gap-5xl: 2.25rem;
  --gap-6xl: 2.5rem;
  --gap-7xl: 3rem;
  --gap-8xl: 4rem;
  --gap-9xl: 5rem;
  --gap-input-vertical: 0.8125rem;
  --gap-lg: 0.8125rem;
  --gap-md: 0.75rem;
  --gap-none: 0rem;
  --gap-sm: 0.5rem;
  --gap-xl: 1rem;
  --gap-xs: 0.375rem;
  --opacity-10: 0.1;
  --opacity-20: 0.2;
  --opacity-50: 0.5;
  --opacity-60: 0.6;
  --sentiment-accent-primary: #0d6d87;
  --sentiment-accent-primaryDisabled: #9bc3ce;
  --sentiment-accent-primaryHover: #0d6d87;
  --sentiment-accent-primarySelected: #055164;
  --sentiment-accent-secondary: #9bc3ce;
  --sentiment-accent-secondaryDisabled: #f3f8f9;
  --sentiment-accent-secondaryHover: #9bc3ce;
  --sentiment-accent-secondarySelected: #7ab1bf;
  --sentiment-negative-primary: #9d3a37;
  --sentiment-negative-primaryDisabled: #f7dadc;
  --sentiment-negative-primaryHover: #762824;
  --sentiment-negative-primarySelected: #4d1310;
  --sentiment-negative-secondary: #fbf4f4;
  --sentiment-negative-secondaryDisabled: #f7dadc;
  --sentiment-negative-secondaryHover: #f7dadc;
  --sentiment-negative-secondarySelected: #f7dadc;
  --sentiment-neutral-primary: #1e1e1e;
  --sentiment-neutral-primaryDisabled: #696969;
  --sentiment-neutral-primaryHover: #353535;
  --sentiment-neutral-primarySelected: #151515;
  --sentiment-neutral-secondary: #dfdfdf;
  --sentiment-neutral-secondaryDisabled: #dfdfdf;
  --sentiment-neutral-secondaryHover: #ffffff;
  --sentiment-neutral-secondarySelected: #c0c0c0;
  --sentiment-positive-primary: #0b7737;
  --sentiment-positive-primaryDisabled: #87c09e;
  --sentiment-positive-primaryHover: #095d2b;
  --sentiment-positive-primarySelected: #07411e;
  --sentiment-positive-secondary: #bfddcb;
  --sentiment-positive-secondaryDisabled: #f3f9f5;
  --sentiment-positive-secondaryHover: #a3cfb5;
  --sentiment-positive-secondarySelected: #a3cfb5;
  --sentiment-warning-primary: #f4bd00;
  --sentiment-warning-primaryDisabled: #fefcf2;
  --sentiment-warning-primaryHover: #b88e00;
  --sentiment-warning-primarySelected: #b88e00;
  --sentiment-warning-secondary: #ffe07a;
  --sentiment-warning-secondaryDisabled: #fefcf2;
  --sentiment-warning-secondaryHover: #f4bd00;
  --sentiment-warning-secondarySelected: #f4bd00;
  --size-2xl: 2rem;
  --size-2xs: 0.5rem;
  --size-3xl: 3rem;
  --size-3xs: 0.25rem;
  --size-4xl: 4rem;
  --size-4xs: 0.125rem;
  --size-5xl: 6rem;
  --size-5xs: 0rem;
  --size-6xl: 7rem;
  --size-7xl: 8rem;
  --size-lg: 1.25rem;
  --size-md: 1rem;
  --size-sm: 0.8125rem;
  --size-xl: 1.5rem;
  --size-xs: 0.6875rem;
  --typeStyles-bodyLarge-font-size: 18px;
  --typeStyles-bodyLarge-fontFamily: "Scto Grotesk A";
  --typeStyles-bodyLarge-fontWeight: 400;
  --typeStyles-bodyLarge-letterSpacing: 0px;
  --typeStyles-bodyLarge-lineHeight: 24px;
  --typeStyles-bodyLarge-paragraphSpacing: 0;
  --typeStyles-bodyMedium-font-size: 16px;
  --typeStyles-bodyMedium-fontFamily: "Scto Grotesk A";
  --typeStyles-bodyMedium-fontWeight: 400;
  --typeStyles-bodyMedium-letterSpacing: 0px;
  --typeStyles-bodyMedium-lineHeight: 22px;
  --typeStyles-bodyMedium-paragraphSpacing: 0;
  --typeStyles-bodySmall-font-size: 14px;
  --typeStyles-bodySmall-fontFamily: "Scto Grotesk A";
  --typeStyles-bodySmall-fontWeight: 400;
  --typeStyles-bodySmall-letterSpacing: 0px;
  --typeStyles-bodySmall-lineHeight: 18px;
  --typeStyles-bodySmall-paragraphSpacing: 0;
  --typeStyles-bodyXsmall-font-size: 12px;
  --typeStyles-bodyXsmall-fontFamily: "Scto Grotesk A";
  --typeStyles-bodyXsmall-fontWeight: 400;
  --typeStyles-bodyXsmall-letterSpacing: 0px;
  --typeStyles-bodyXsmall-lineHeight: 16px;
  --typeStyles-bodyXsmall-paragraphSpacing: 0;
  --typeStyles-display1-font-size: 32px;
  --typeStyles-display1-fontFamily: "Scto Grotesk A";
  --typeStyles-display1-fontWeight: 700;
  --typeStyles-display1-letterSpacing: -0.25px;
  --typeStyles-display1-lineHeight: 40px;
  --typeStyles-display1-paragraphSpacing: 0;
  --typeStyles-heading1-font-size: 26px;
  --typeStyles-heading1-fontFamily: "Scto Grotesk A";
  --typeStyles-heading1-fontWeight: 700;
  --typeStyles-heading1-letterSpacing: -0.25px;
  --typeStyles-heading1-lineHeight: 32px;
  --typeStyles-heading1-paragraphSpacing: 0;
  --typeStyles-heading1Web-font-size: 40px;
  --typeStyles-heading1Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading1Web-fontWeight: 700;
  --typeStyles-heading1Web-letterSpacing: -0.25px;
  --typeStyles-heading1Web-lineHeight: 48px;
  --typeStyles-heading1Web-paragraphSpacing: 0;
  --typeStyles-heading2-font-size: 22px;
  --typeStyles-heading2-fontFamily: "Scto Grotesk A";
  --typeStyles-heading2-fontWeight: 700;
  --typeStyles-heading2-letterSpacing: -0.25px;
  --typeStyles-heading2-lineHeight: 24px;
  --typeStyles-heading2-paragraphSpacing: 0;
  --typeStyles-heading2Web-font-size: 36px;
  --typeStyles-heading2Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading2Web-fontWeight: 700;
  --typeStyles-heading2Web-letterSpacing: -0.25px;
  --typeStyles-heading2Web-lineHeight: 44px;
  --typeStyles-heading2Web-paragraphSpacing: 0;
  --typeStyles-heading3-font-size: 20px;
  --typeStyles-heading3-fontFamily: "Scto Grotesk A";
  --typeStyles-heading3-fontWeight: 700;
  --typeStyles-heading3-letterSpacing: -0.25px;
  --typeStyles-heading3-lineHeight: 24px;
  --typeStyles-heading3-paragraphSpacing: 0;
  --typeStyles-heading3Web-font-size: 32px;
  --typeStyles-heading3Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading3Web-fontWeight: 700;
  --typeStyles-heading3Web-letterSpacing: -0.25px;
  --typeStyles-heading3Web-lineHeight: 40px;
  --typeStyles-heading3Web-paragraphSpacing: 0;
  --typeStyles-heading4-font-size: 18px;
  --typeStyles-heading4-fontFamily: "Scto Grotesk A";
  --typeStyles-heading4-fontWeight: 700;
  --typeStyles-heading4-letterSpacing: -0.25px;
  --typeStyles-heading4-lineHeight: 20px;
  --typeStyles-heading4-paragraphSpacing: 0;
  --typeStyles-heading4Web-font-size: 26px;
  --typeStyles-heading4Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading4Web-fontWeight: 700;
  --typeStyles-heading4Web-letterSpacing: -0.25px;
  --typeStyles-heading4Web-lineHeight: 34px;
  --typeStyles-heading4Web-paragraphSpacing: 0;
  --typeStyles-heading5-font-size: 16px;
  --typeStyles-heading5-fontFamily: "Scto Grotesk A";
  --typeStyles-heading5-fontWeight: 700;
  --typeStyles-heading5-letterSpacing: -0.25px;
  --typeStyles-heading5-lineHeight: 20px;
  --typeStyles-heading5-paragraphSpacing: 0;
  --typeStyles-heading5Web-font-size: 22px;
  --typeStyles-heading5Web-fontFamily: "Scto Grotesk A";
  --typeStyles-heading5Web-fontWeight: 700;
  --typeStyles-heading5Web-letterSpacing: -0.25px;
  --typeStyles-heading5Web-lineHeight: 32px;
  --typeStyles-heading5Web-paragraphSpacing: 0;
  --typeStyles-titleLarge-font-size: 18px;
  --typeStyles-titleLarge-fontFamily: "Scto Grotesk A";
  --typeStyles-titleLarge-fontWeight: 500;
  --typeStyles-titleLarge-letterSpacing: 0px;
  --typeStyles-titleLarge-lineHeight: 20px;
  --typeStyles-titleLarge-paragraphSpacing: 0;
  --typeStyles-titleMedium-font-size: 16px;
  --typeStyles-titleMedium-fontFamily: "Scto Grotesk A";
  --typeStyles-titleMedium-fontWeight: 500;
  --typeStyles-titleMedium-letterSpacing: 0px;
  --typeStyles-titleMedium-lineHeight: 20px;
  --typeStyles-titleMedium-paragraphSpacing: 0;
  --typeStyles-titleSmall-font-size: 14px;
  --typeStyles-titleSmall-fontFamily: "Scto Grotesk A";
  --typeStyles-titleSmall-fontWeight: 500;
  --typeStyles-titleSmall-letterSpacing: 0.25px;
  --typeStyles-titleSmall-lineHeight: 16px;
  --typeStyles-titleSmall-paragraphSpacing: 0;
  --typeStyles-titleXsmall-font-size: 12px;
  --typeStyles-titleXsmall-fontFamily: "Scto Grotesk A";
  --typeStyles-titleXsmall-fontWeight: 500;
  --typeStyles-titleXsmall-letterSpacing: -0.25px;
  --typeStyles-titleXsmall-lineHeight: 16px;
  --typeStyles-titleXsmall-paragraphSpacing: 0;
}

/* === END GENERATED === */

@layer utilities {
  .no-spin::-webkit-inner-spin-button,
  .no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spin {
    -moz-appearance: textfield;
  }
}

/* @import '@sgwshub/neat-theme/Proof-Retro.css'; */

:root {
  /* colors */
  --background-color: var(--colors-content-primary);
  --light-color: var(--colors-content-primary);
  /* stylelint-disable-next-line custom-property-pattern */
  --dark-color: var(--colors-content-primaryInverted);
  --text-color: var(--colors-content-interactive-primary);
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;

  /* fonts */
  /* stylelint-disable-next-line custom-property-pattern */
  --body-font-family: var(--font-fontFamily-ffPrimary), sans-serif;
  /* stylelint-disable-next-line custom-property-pattern */
  --heading-font-family: var(--font-fontFamily-ffSecondary), sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 56px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.1;
  scroll-margin: 40px;
}

h1 { 
  font-size: var(--heading-font-size-xxl); 
  padding: 42px 0;
  text-decoration-style: solid;
}

h2 { font-size: var(--heading-font-size-xl); }

h3 { font-size: var(--heading-font-size-l); }

h4 { font-size: var(--heading-font-size-m); }

h5 { font-size: var(--heading-font-size-s); }

h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */

a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */

a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--colors-background-interactive-accent-primary);
  color: var(--colors-content-primaryOnBold);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */

main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 162px;
  }
}

/* section metadata */

main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}
